node_modules/
target/
out/
cache/
packages/contracts/lib/
next-env.d.ts
*.log
.omo/evidence/
.omo/
lcov.info
.DS_Storelib/
app/package-lock.json
*.tsbuildinfo
app/vite.config.d.ts
app/vite.config.js
.DS_Store
*.aux
*.out
*.toc
